<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>Grackle</title>

    <style>
        body {
            min-height: 75rem;
            padding-top: 4.5rem;
        }
        #grk-tweet-count {
            font-size: 4em;
        }
        .grk-tweet-icon {
            height: 32px;
            width: 32px;
        }
    </style>

</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Grackle</a>    
    </nav>

    <main role="main" class="container">
        <div class="row">
            <div class="col-10">
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <div class="grk-tweet-list-heading">
                        <h6 class="border-bottom border-gray pb-2 mb-0">Recent Tweets</h6>
                    </div>
                    <div id="grk-recent-tweets" class="grk-tweet-list-body clearfix">
                        <div id="grk-tweet-template" class="media text-muted pt-3 grk-tweet invisible">
                            <div class="grk-tweet-icon"><i class="fa fa-twitter fa-3x" style="color: #008EF7;">&nbsp;</i></div>
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark grk-tweet-username">@username</strong>
                                <span class="grk-tweet-content">Donec id elit non mi porta gravida at eget metus. Fusce  dapibus, 
                                    tellus ac cursus commodo, tortor mauris  condimentum nibh, ut fermentum massa justo sit amet risus.
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="my-3 p-3 bg-white rounded shadow-sm clearfix">
                    <h6 class="border-bottom border-gray pb-2 mb-0">Received Tweets</h6>
                    <p id="grk-tweet-count" class="text-center pt-3">0</p>
                </div>

                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <h6 class="border-bottom border-gray pb-2 mb-0">Status</h6>
                    <p id="connectionStatus" class="text-center pt-3"><span class="text-danger">Not Connected</span></p>
                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(function () {
            var sck;

            console.log("Grackle loaded...");
            setConnectionStatus("info", "Initializing...");
            sck = openConnection();            
        });

        function handleSocketClose(event) {
            console.info("WebSocket closed:", event);
            setConnectionStatus("danger", "Not Connected");
        }

        function handleSocketError(event) {
            console.error("WebSocket error:", event);
            sck.close();
        }

        function handleSocketMessage(msg) {
            //console.info("WebSocket message:", msg);
            var data = JSON.parse(msg.data);
            if (data.tweet) {
               //console.info("tweet received: ", data.tweet.IdStr);
                var tweet = $("#grk-tweet-template").clone();
                tweet.attr("id", "#grk-tweet-" + data.tweet.IdStr);
                tweet.removeClass("invisible");
                tweet.find(".grk-tweet-icon").html('<i class="fa fa-twitter fa-2x" style="color: ' + randomColor() + '">&nbsp;</i>');
                tweet.find(".grk-tweet-username").text("@" + data.tweet.User.Name);
                tweet.find(".grk-tweet-content").text(data.tweet.FullText);
                $("#grk-recent-tweets").prepend(tweet);
                
                var tweetCount = $("#grk-tweet-count");
                var totalVal = tweetCount.text();
                tweetCount.text(++totalVal);
            }
        }

        function handleSocketOpen(event) {
            console.info("websocket open...");
            setConnectionStatus("success", "Connected");
            sck.send("HELLO");
        }

        function openConnection() {
            setConnectionStatus("warning", "Connecting...");
            sck = new WebSocket("ws://" + location.host + "/sock");
            sck.onopen = handleSocketOpen;
            sck.onerror = handleSocketError;
            sck.onclose = handleSocketClose;
            sck.onmessage = handleSocketMessage;
        }

        function randomColor() {
            return "#" + Math.floor(Math.random() * 16777215).toString(16);
        }

        function setConnectionStatus(type, msg) {
            $("#connectionStatus").html('<span class="text-' + type + '">' + msg + '</span>');
        }
    </script>

</body>
</html>
